
.container{
  width:70%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
body{
  background-color: #202B38;
  font-family: 'Roboto', sans-serif;

}
.form{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input {
  padding-left:6px;
  width: 40%;
  font-size: 30px;
  margin-top:50px;
}

.error{
  text-align: center;
  width: 100%;
  margin-top:10px;
  font-size: 20px;
}

.moviegrid{
  margin: 0;
  padding: 0;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap:32px;
}

.movie{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.image{
  border-radius: 8px;
}

.background-modal{
  position:fixed;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(150,150,150,0.8);
}
.inside-modal{
  position:fixed;
  top:20%;
  left:20%;
  right: 20%;
  bottom: 20%;
  background-color: #202B38;
  border-radius: 8px;
  display:flex;
  justify-content: space-between;
}

.inside-modal img{
  align-self: center;
}
.inside-modal-description{
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-items:start;
  margin-top:50px;
  margin-left:30px;
  color: white;
}

.description{
  max-width: 70%;
}

.description span{
  color: cyan;
  font-weight: 900;

}

.image-modal{
  margin-left:30px;
}

.button-modal{
  background-color: transparent;
  color:white;
  font-size: 30px;
  align-self: end;
  justify-self: end;
  margin-right:30px;
  font-weight: 600;
  border:none;
}

.modal-hidden{
  overflow:hidden;
}

@media (max-width: 1360px){
  .inside-modal{
    top:15%;
    left:15%;
    right: 15%;
    bottom: 15%;
  }
  .inside-modal-description{
    justify-content: center;
  }
}

@media (max-width: 1000px){
  .input{
    width:100%;
  }
  .inside-modal{
    margin:0;
  }
  .inside-modal-description{
    margin: 0;
    margin-left: 10px;
    overflow-y: scroll;
  }
  .description{
    max-width:80%;
  }

}

@media (max-width: 850px){
  .inside-modal{
    flex-direction: column;
    top:2%;
    bottom:2%;
    left:5%;
    right:5%;
  }

  .image-modal{
    margin:0;
    padding:10px;
    height:350px;
    width:90%;
  }
}

@media (max-width: 380px){
  .container{
    width:100%;
  }
  .input{
    width:90%;
  }
}
.lds-roller {
  display: inline-block;
  position: relative;
  margin:0 auto;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
